.container {
    background-color: rgb(223, 115, 88);
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: .1em solid rgb(17, 32, 59);
}

.image {
    display: inline-flex;
}

.container img {
    max-width:70px;
    max-height:70px;
    width: auto;
    height: auto;
}

.inputs {
    display: inline-flex;
}

.botao {
    margin-left: 5%;
    background-color: rgb(223, 115, 88);
    color: cornsilk;
    font-size: 14pt;
    width: 140pt;
    height: 32pt;
    border-radius: 15px;
}

.campo {
    display: inline-block;
    font-size: 18pt;
    font-family: Arial;
    color: rgb(17, 32, 59);
    border-radius: 15px;
    margin-bottom: 2%;
}